<!DOCTYPE html>
<html lang="en">
<head>
    <script>Help</script>
    <link rel="logo" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <script src="/js/app.js"></script> --}}
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>{{message}}</p>
    
    </div>
    
    {{>footer}}
</body>
</html>